html{width:auto;}
header{
    text-align:left;
    color:#22577A;
}

nav{
    background-color:#57CC99;
    padding:15px 30px;
    border:5px solid #38A3A5;
    border-radius:20px;
}
main{
    text-align: center;
}

button{
    padding:5px 15px;
    border-radius:10px;
    background-color:white;
    border:2px solid gray;
}

button:hover{
    background-color:lightgrey;
}
#footer1{
    text-align:center;
    background-color:#22577A;
    color:white;
    padding:15px
}
.blurple{
    color:#565dff;
}
