html {
    width: auto;
    background: #ffffff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-family: 'Raleway', sans-serif;

}

body {
    margin: 0;
}

nav {
    text-align: center;
    padding: 30px 15px 0px 15px;
    display: flex;
    justify-content: space-evenly;
    
}

.menu button {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    font-size: 1.1rem;
    padding: 0;
    margin: 15px;
    font-family: 'Raleway', sans-serif;

}

.menu button:hover {
    background-color: rgba(189,226,226,0.3);
    box-shadow: 0px 0px 2rem #bde2e2;
}

hr {
    border: 5px solid;
    border-image: linear-gradient(90deg, #ead2e5 20%, #bde2e2 40%, #bec4e2 60%, #d1e6dc 100%) 1;
}

.cleardiv {
    clear: both;
}

.centered {
    text-align:center;
}

main {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

.mainimgs {
    max-height: 300px;
    width: auto;
    object-fit: cover;
    margin: 0;
}

#footer1 {
    background-color: #22577A;
    color: white;
    padding: 15px;
}

#introh1 {
    text-align: center;
    letter-spacing: 15px;
    font-style: italic;
}

.smalldiv {
    width: 20%;
    height: 10px;
}

.smalldiv2 {
    width: 20%;
    border: 2px solid;
    border-image: linear-gradient(90deg, #ead2e5 20%, #bde2e2 40%, #bec4e2 60%, #d1e6dc 100%) 1;}


.journeydiv {
    text-align: left;
    height: auto;
    padding-bottom: 200px;
    vertical-align: center;
}

.journeydiv:nth-of-type(odd) {
    text-align: right;
}

.journeyimgl {
    float: left;
    height: 250px;
    padding-right: 30px;
}

.journeyimgr {
    float: right;
    height: 250px;
    padding-left: 30px;
}

.blurple {
    color: #565dff;
}
