html{width:auto;}

.mikeylogo{
    text-align:left;
    color:#22577A;
    float:left;
}
.menu{
    text-align:right;
    float:right;
    padding:50px 15px 0px 15px;
    border:5px solid #38A3A5;
    border-top:5px solid white;
    border-left:5px solid white;
    border-radius:20px;
}
.menulink{
    text-decoration: none;
    color:inherit;
}

.cleardiv{
clear:both;
}

main{
    text-align: center;
}

button{
    padding:5px 15px;
    background-color:white;
    border:2px solid white;
}

button:hover{
    background-color:lightgrey;
}
#footer1{
    text-align:center;
    background-color:#22577A;
    color:white;
    padding:15px
}
.blurple{
    color:#565dff;
}
